# Recomendaciones de películas

Usaremos un set de datos extraídos desde MovieLens. Cargamos las filas de los archivos u.data y u.item que nos interesan, y fusionamos ambos dataframes para que podamos trabajar con nombres de películas en lugar de su ID.

In [1]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [2]:
import pandas as pd

r_cols = ['user_id', 'movie_id', 'rating']
ratings = pd.read_csv('/content/drive/My Drive/Colab Notebooks/Recomendaciones de Películas/ml-100k/u.data', sep='\t', names=r_cols, usecols=range(3), encoding="ISO-8859-1")

m_cols = ['movie_id', 'title']
movies = pd.read_csv('/content/drive/My Drive/Colab Notebooks/Recomendaciones de Películas/ml-100k/u.item', sep='|', names=m_cols, usecols=range(2), encoding="ISO-8859-1")

ratings = pd.merge(movies, ratings)

In [3]:
ratings.head()

   movie_id             title  user_id  rating
0         1  Toy Story (1995)      308       4
1         1  Toy Story (1995)      287       5
2         1  Toy Story (1995)      148       4
3         1  Toy Story (1995)      280       4
4         1  Toy Story (1995)       66       3

Luego vemos las relaciones que hay entre cada película y cada usuario que hay en el dataframe
(En este caso, Nan indica películas que usuarios específicos no calificaron)

In [7]:
movie_ratings = ratings.pivot_table(index='user_id',columns="title",values='rating')
movie_ratings.head()

title    'Til There Was You (1997)  ...  Á köldum klaka (Cold Fever) (1994)
user_id                             ...
0                              NaN  ...                                 NaN
1                              NaN  ...                                 NaN
2                              NaN  ...                                 NaN
3                              NaN  ...                                 NaN
4                              NaN  ...                                 NaN

[5 rows x 1664 columns]

Veamos sólo la calificación de Star Wars por cada usuario

In [8]:
star_wars_ratings = movie_ratings['Star Wars (1977)']
star_wars_ratings.head()

user_id
0    5.0
1    5.0
2    5.0
3    NaN
4    5.0
Name: Star Wars (1977), dtype: float64

Usamos .corrwith() para relacionar una columna del dataframe (Star Wars con cada usario) con respecto a todas las demás
y sacar el coeficiente de correlación. Después de eso, quitamos los resultados que no tengan datos y hacemos un nuevo dataframe de películas y similitud con Star War

In [10]:
similar_movies =  movie_ratings.corrwith(star_wars_ratings)
similar_movies = similar_movies.dropna()
new_df = pd.DataFrame(similar_movies)
new_df.head(10)

/usr/local/lib/python3.6/dist-packages/numpy/lib/function_base.py:2526: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar)
/usr/local/lib/python3.6/dist-packages/numpy/lib/function_base.py:2455: RuntimeWarning: divide by zero encountered in true_divide
  c *= np.true_divide(1, fact)

                                            0
title
'Til There Was You (1997)            0.872872
1-900 (1994)                        -0.645497
101 Dalmatians (1996)                0.211132
12 Angry Men (1957)                  0.184289
187 (1997)                           0.027398
2 Days in the Valley (1996)          0.066654
20,000 Leagues Under the Sea (1954)  0.289768
2001: A Space Odyssey (1968)         0.230884
39 Steps, The (1935)                 0.106453
8 1/2 (1963)                        -0.142977

Mostramos los resultados por la puntuación que hayan obtenido respecto a su similitud, para así tener las películas recomendadas al ver Star Wars.

In [11]:
similar_movies.sort_values(ascending=False)

title
No Escape (1994)                          1.0
Man of the Year (1995)                    1.0
Hollow Reed (1996)                        1.0
Commandments (1997)                       1.0
Cosi (1996)                               1.0
                                         ...
Theodore Rex (1995)                      -1.0
I Like It Like That (1994)               -1.0
Two Deaths (1995)                        -1.0
Roseanna's Grave (For Roseanna) (1997)   -1.0
Frankie Starlight (1995)                 -1.0
Length: 1410, dtype: float64

Pero al parecer este resultado no tiene mucho sentido. **Lo que pasa es que los resultados arrojan pelícuñas que sólo han sido vistas por unas cuantas personas que casualmente les gustó Star Wars. Entonces hacemos un nuevo dataframe qu esta vez refleje cuántos ratings tiene cada película, al igual que el rating promedio**

In [18]:
import numpy as np
movie_stats = ratings.groupby('title').agg({'rating': [np.size, np.mean]})
movie_stats.head()

                          rating
                            size      mean
title
'Til There Was You (1997)      9  2.333333
1-900 (1994)                   5  2.600000
101 Dalmatians (1996)        109  2.908257
12 Angry Men (1957)          125  4.344000
187 (1997)                    41  3.024390

Nos deshacemos de las películas que tienen menos de 100 calificaciones y mostramos las que tienen más rating.

In [21]:
popular_movies = movie_stats['rating']['size'] >= 100
movie_stats[popular_movies].sort_values([('rating', 'mean')], ascending=False)[:15]

                                       rating
                                         size      mean
title
Close Shave, A (1995)                     112  4.491071
Schindler's List (1993)                   298  4.466443
Wrong Trousers, The (1993)                118  4.466102
Casablanca (1942)                         243  4.456790
Shawshank Redemption, The (1994)          283  4.445230
Rear Window (1954)                        209  4.387560
Usual Suspects, The (1995)                267  4.385768
Star Wars (1977)                          584  4.359589
12 Angry Men (1957)                       125  4.344000
Citizen Kane (1941)                       198  4.292929
To Kill a Mockingbird (1962)              219  4.292237
One Flew Over the Cuckoo's Nest (1975)    264  4.291667
Silence of the Lambs, The (1991)          390  4.289744
North by Northwest (1959)                 179  4.284916
Godfather, The (1972)                     413  4.283293

Unimos este dataframe con el otro donde se mostraban las coeficiente de correlación de la película de Star Wars.

In [22]:
df = movie_stats[popular_movies].join(pd.DataFrame(similar_movies, columns=['similarity']))

/usr/local/lib/python3.6/dist-packages/pandas/core/reshape/merge.py:643: UserWarning: merging between different levels can give an unintended result (2 levels on the left,1 on the right)
  warnings.warn(msg, UserWarning)

In [23]:
df.head()

                              (rating, size)  (rating, mean)  similarity
title
101 Dalmatians (1996)                    109        2.908257    0.211132
12 Angry Men (1957)                      125        4.344000    0.184289
2001: A Space Odyssey (1968)             259        3.969112    0.230884
Absolute Power (1997)                    127        3.370079    0.085440
Abyss, The (1989)                        151        3.589404    0.203709

Y los ordenamos de la mayor a la menor similaridad.

In [26]:
df.sort_values(['similarity'], ascending=False)[:15]

                                                    (rating, size)  ...  similarity
title                                                               ...
Star Wars (1977)                                               584  ...    1.000000
Empire Strikes Back, The (1980)                                368  ...    0.748353
Return of the Jedi (1983)                                      507  ...    0.672556
Raiders of the Lost Ark (1981)                                 420  ...    0.536117
Austin Powers: International Man of Mystery (1997)             130  ...    0.377433
Sting, The (1973)                                              241  ...    0.367538
Indiana Jones and the Last Crusade (1989)                      331  ...    0.350107
Pinocchio (1940)                                               101  ...    0.347868
Frighteners, The (1996)                                        115  ...    0.332729
L.A. Confidential (1997)                                       297  ...    0.319065
Wag the Dog (1997)                                             137  ...    0.318645
Dumbo (1941)                                                   123  ...    0.317656
Bridge on the River Kwai, The (1957)                           165  ...    0.316580
Philadelphia Story, The (1940)                                 104  ...    0.314272
Miracle on 34th Street (1994)                                  101  ...    0.310921

[15 rows x 3 columns]